$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
    background-color: #002244;
}

.container {
    display: block;
    margin: 0px auto;
    margin-top: 20px;
    height: 328px;
    width: 500px;
    background-color: #C60C30;
}

.playersField {
    margin-left: 50px;
}

.headertext {
    margin: 0px auto;
    display: block;

    h1 {
        text-align: center;
        font-family: Helvetica;
        font-size: 40px;
        color: #000000;
    }
}