$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
    background-color: #002244;
}

.container {
    display: block;
    margin: 0px auto;
    margin-top: 20px;
    height: 328px;
    width: 500px;
    background-color: #C60C30;
}

.playersField {
    margin-left: 50px;
}

.headertext {
    margin: 0px auto;
    display: block;

    h1 {
        text-align: center;
        font-family: Helvetica;
        font-size: 40px;
        color: #000000;
    }
}

// .image {
//     margin: 0px auto;
//     display: block;
//     background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/30130.png&w=350&h=254");    
//     height: 254px;
//     width: 350px;
// }

// .fadein img {
//     display: block;
//     position:absolute;
//     margin: 0px auto;
//     margin-left: 210px;
//     -webkit-transition: all 3s;
//     -moz-transition: all 3s;
//     -o-transition: all 3s;
//     transition: all 3s;
//     -webkit-animation-name: fade;
//     -webkit-animation-iteration-count: infinite;
//     -webkit-animation-duration: 12s;
//     animation-name: fade;
//     animation-iteration-count: infinite;
//     animation-duration: 12s;
// }

// @-webkit-keyframes fade {
//     0% {opacity: 0;}
//     20% {opacity: 1;}
//     33% {opacity: 1;}
//     53% {opacity: 0;}
//     100% {opacity: 0;}
// }
// @keyframes fade {
//     0% {opacity: 0;}
//     20% {opacity: 1;}
//     33% {opacity: 1;}
//     53% {opacity: 0;}
//     100% {opacity: 0;}
// }

// #f1 {
//     -webkit-animation-delay: 0s;
//     // background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/30130.png&w=350&h=254")
// }

// #f2 {
//     -webkit-animation-delay: -9s;
//     // background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/5409.png&w=350&h=254")
// }

// #f3 {
//     -webkit-animation-delay: -6s;
//     // background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/6393.png&w=350&h=254")
// }

// #f4 {
//     -webkit-animation-delay: -3s;
//     // background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/28855.png&w=350&h=254")
// }